<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阿里资源消费</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.datetimepicker.css') }}">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for("table") }}">阿里资源消费记录</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-th-large"></i>
                        首页
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('table') }}">
                        <i class="glyphicon glyphicon-credit-card"></i>
                        阿里资源消费记录
                    </a>
                </li>
            </ul>
        </div>
        <!--主页面-->
        {% block content %}{% endblock %}
    </div>
</div>


</body>
<script type="text/javascript">
    $('#datetimepicker').datetimepicker();
    {#$('#datetimepicker').datepicker();#}
    {#$('#datetimepicker').timepicker();#}
</script>

<script type="text/javascript">
    $('#datetimepicker2').datetimepicker();
    {#$('#datetimepicker2').datepicker();#}
    {#$('#datetimepicker2').timepicker();#}
</script>
</html>